@charset "utf-8";

/* Font Family Imports ~ Inter 100-900 Weight */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Global Root Variables for Website Theme Consistency */
:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Typography Font Family Variables */
  --heading-font: 'Inter', sans-serif;
  --body-font: 'Inter', sans-serif;

  /* Typography Font Size Variables */
  --desktop-h1: 68px;
  --mobile-h1: 48px;
  --desktop-h2: 32px;
  --mobile-h2: 28px;
  --desktop-h3: 22px;
  --mobile-h3: 19px;
  --desktop-body: 18px;
  --mobile-body: 16px;
  --label-font: 14px;
  --links-font: 18px;

  --header-background: transparent;
  --header-mobile: #ffffff;

  /* Typography Colours */
  --primary-heading: #343c41;
  --primary-body: #415463;

  /* Brand Colours & Accents */
  /* Primary Yellow */
  --primary-yellow: #f9dc5d;
  --yellow-accent-1: #fae278;
  --yellow-accent-2: #fbe893;
  --yellow-accent-3: #fceeae;
  --yellow-accent-4: #fdf3c9;
  --yellow-accent-5: #fef9e4;

  /* Primary Orange */
  --primary-orange: #f26321;
  --orange-accent-1: #f47d46;
  --orange-accent-2: #f6976b;
  --orange-accent-3: #f9b190;
  --orange-accent-4: #fbcbb5;
  --orange-accent-5: #fde5da;

  /* Primary Blue */
  --primary-blue: #3499d7;
  --blue-accent-1: #56aade;
  --blue-accent-2: #78bbe4;
  --blue-accent-3: #9acceb;
  --blue-accent-4: #bbddf2;
  --blue-accent-5: #ddeef8;

  /* Primary Green */
  --primary-green: #42c69c;

  /* Primary Slate Navy */
  --primary-slate: #1b3244;
  --slate-accent-1: #415463;
  --slate-accent-2: #677682;
  --slate-accent-3: #8d99a2;
  --slate-accent-4: #b3bbc1;
  --slate-accent-5: #d9dde0;

  /* Background & Section Background Colours */
  --primary-background: #f7f9fe;
  --section-background: #e7f6ff;
  --white: #ffffff;

  /* Gradients */
  --gradient: linear-gradient(0deg, rgba(249,220,93,1) 0%, rgba(242,99,33,1) 100%);

  /* Icon Background and Inner Stroke Colours */
  --icon-background: #3499d7;
  --icon-inner: #f7f9fe;

  /* CTA Button Varaibles */
  --cta-button: #f26321;
  --cta-button-hover: #f47d46;

  /* Form Input Box Shadows */
  --input-static: 0 0 0 0.075rem #b3bbc1;
  --input-focus: 0 0 0 0.075rem #3499d7;
  --input-error: 0 0 0 0.075rem #f26321;

  /* Box Shadows */
  --regular-shadow: 
    0px 1px 2px 0px rgba(0, 0, 0, 0.06),
    0px 1px 3px 0px rgba(0, 0, 0, 0.10);
  --medium-shadow: 
    0px 2px 4px -1px rgba(0, 0, 0, 0.06),
    0px 4px 6px -1px rgba(0, 0, 0, 0.10);
  --large-shadow: 
    0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.10);
  --extra-large-shadow: 
    0px 10px 10px -5px rgba(0, 0, 0, 0.04),
    0px 20px 25px -5px rgba(0, 0, 0, 0.10);

    --global-transition: 0.3s ease-in-out;
}

/* Apply the border-box sizing to all elements and either before and after elements. */
html,
*, 
::after, ::before {
  box-sizing: border-box;
}

/* All elements will inherit the box-sizing set in the root html styles. */
*::before, *::after, * {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Start of Scrollbar Styles. */

body::-webkit-scrollbar {
  width: 6px; 
}

body::-webkit-scrollbar-track {
  background: var(--primary-slate); 
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-orange); 
  border-radius: 25px;
}

/* End of Scrollbar Styles. */

/* Using the selection pseudo class on all DOM elements to change the highlighted text background and text colour. */
*::selection {
  background-color: var(--orange-accent-1);
  color: var(--white);
}


/* Global Heading Styles */

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-weight: 900;
  color: var(--primary-heading);
  margin-bottom: 1rem;
}

/* Global Anchor & List Styles */

a {
  text-decoration: none;
  font-style: normal;
  /* Style Guide Weight for Links. */
  font-weight: 700;
}

/* Remove default margin and padding from unordered lists and list items. */
ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Start of Navigation Styles. */

nav ul li a {
  color: var(--white);
  font-family: var(--body-font);
  font-style: normal;
  letter-spacing: 0.05rem;
}

header .nav-link {
  font-size: var(--links-font);
  font-weight: 600;
}
header .nav-link, 
footer .nav-link {
  transition: var(--global-transition);
}

header .nav-link:hover,
footer .nav-link:hover{
  color: var(--primary-orange);
}

nav ul li a:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary-orange);
}

/* Background and white space styles of the navbar bootstrap component */
.navbar {
    background-color: var(--header-background);
    max-width: 1800px;
    margin: 0 auto;
    z-index: 99;
}

/* Primary Navigation Links */
.nav-item {
    /* Padding on the right to all links except the last link. */
    padding-right: 1.5rem;
}

.navbar-nav li:last-of-type {
    padding-right: 0;
}

/* When using Bootstraps light theme, overwrite the toggler icons background image with a custom hamburger SVG. */
[data-bs-theme=light] .navbar-toggler-icon {
  background-image: url(../images/navigation/mobile-open.svg);
}

/* Override bootstrap navbar-toggler button styles. */
div .navbar-toggler {
    /* Apply custom size to the hamburger menu */
    font-size: 1.5rem;
    padding: 0.75rem;
    background-color: var(--icon-background);
    border-radius: 5rem;
    z-index: 99;
}

/* Remove default button styles of boostraps toggle menu. */
div .navbar-toggler,
.close-toggle {
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

/* Close menu toggle button styles. */
.close-toggle {
  position: absolute;
  top: 50px;
  right: 15px;
  padding: 0.75rem;
  background: none;
}

.close-toggle svg {
  stroke: var(--icon-background);
}

/* Remove the default box shadow when the toggler button is in the focused state. */
div .navbar-toggler:focus {
    box-shadow: none;
}

/* Center the navbar element contents. */
.navbar > .container-fluid {
  justify-content: space-between;
  max-width: 1600px;
  padding: 0 3rem;
}

/* Center the primary navigation links. */
.offcanvas-body ul {
  margin: auto;
}

/* Start of Header Navigation Social Link Styles */

.social-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links-container a {
  margin-right: 2rem;
  background-color: var(--icon-background);
  padding: 0.5rem;
  border-radius: 5rem;
  transition: var(--global-transition);
}

/* Remove the margins for the last social link to keep consistent navigation spacing. */
.social-links-container a:last-of-type {
  margin-right: 0;
}

/* Social Icon SVG Styles */

.social-links-container a:nth-of-type(1) svg,
.social-links-container a:nth-of-type(2) svg {
  fill: var(--icon-inner);
}

.social-links-container a svg {
  stroke: var(--icon-inner);
}

/* Social link hover */
.social-links-container a:hover {
  background-color: var(--primary-slate);
}

/* Navigation Media Query, at 1200px Max Width, Apply the following properties. */

@media screen and (max-width: 1200px) {

  /* Apply a solid background and box shadow to the header element on smaller screens. */
  .navbar {
    background-color: var(--header-mobile);
    box-shadow: var(--medium-shadow);
  }

  /* The slide in canvas menu will contain the entirety of the viewport. */
  .container-fluid .offcanvas {
    /* max-width: min(75vw, 800px)!important; IF we don't like the full menu overlay, we can use this style declaration instead. */
    --bs-offcanvas-width: 100%;
  }

  /* Remove the default canvas border when the menu is toggled. */
  div .offcanvas.offcanvas-end {
    border-left: none;
  }

  /* Overwrite boostrap ms-auto utility class when on smaller screens. */
  .offcanvas-body .ms-auto {
    margin: 0;
  }

  .navbar-nav {
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  /* White space on the top and bottom of the primary navigation links, on smaller screens. */
  header .nav-item {
      margin: 1rem 0;
      padding: 0;
  }

  footer .nav-item {
    padding-right: 1.5rem;
  }

  /* Set the background color of the slide out canvas body at smaller screen widths. */
  .offcanvas-body {
      background-color: var(--white);          
  }

  /* Remove the auto margin on mobile */
  .offcanvas-body ul {
    margin: 0;
  }

  /* Display the navigation content in a centered column layout when the mobile menu is toggled. */
  #navbarNav > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  /* Spacing between primary navigation links and social links container. */
  header .social-links-container {
    margin-top: 5rem;
  }

  /* Increase spacing of the social links on mobile. */
  header .social-links-container a {
    margin-right: 3.25rem;
    padding: 0;
    background: none;
  }

  /* Mobile social SVG styles. */
  header .social-links-container a:nth-of-type(1) svg,
  header .social-links-container a:nth-of-type(2) svg {
    fill: var(--icon-background);
  }

  header .social-links-container a svg {
    stroke: var(--icon-background);
    width: 40px;
    height: 40px;
  }

  @media screen and (max-width: 768px) {

    /* Reduce Navigation left and right padding on mobile screen widths. */
    .navbar > .container-fluid {
      padding: 0 1rem;
    }
    
    .social-links-container a:hover {
      background-color: transparent;
    }
  }

}

/* Start of Footer Styles. */

/* Footer Borders */
footer {
  border-top: 8px solid var(--primary-yellow);
  border-bottom: 6px solid var(--primary-blue);
}

/* Apply a fixed width to the footer navigation menu to keep consistency with header */
footer > nav {
  max-width: 1600px;
  /* Center the container with margin auto */
  margin: 0 auto;
  padding: 0.25rem 3rem 1.25rem 3rem;
}

/* Footer top and bottom styles. The footer is divided into two flex containers. */
.footer-top, .footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* Footer primary navigation links styles. */
.footer-top ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Remove margin from the footer copyright paragraph. */
.footer-bottom > p {
  /* Automatically position the copyright from the top with margin auto. */
  margin: auto 0 0 0;
}

/* Footer Media Query, 768px Wide.  */
@media screen and (max-width: 768px) {
  
  /* Adjust border properties for mobile. */
  footer {
    border-top: 5px solid var(--primary-yellow);
    border-bottom: 12px solid var(--primary-blue);
    transition: var(--global-transition);
  }

  /* Stack the flex containers using column. */
  .footer-top, .footer-bottom {
    flex-direction: column;
    align-items: center;
  }

  /* Reduce logo size. */
  .footer-top a img {
    width: 160px;
    height: auto;
  }

  /* Stack the primary navigation links. */
  .footer-top ul {
    flex-direction: column;
    margin-bottom: 1.25rem;
  }

  /* Mobile footer spacing of the navigation items. */
  .footer-top ul .nav-item {
    margin: 0.75rem 0;
    padding: 0;
  }

  .footer-top ul .nav-item .nav-link {
    padding: 0.35rem 0;
  }

  .social-links-container a {
    padding: 0.35rem;
  }

  /* Reduce social icon SVG size when on mobile. */
  .social-links-container a svg {
    width: 27px;
    height: 25px;
  }

  /* Adjust padding to keep consistent with header. */
  footer > nav {
    padding: 1rem 1rem 1.25rem 1rem;
  }

  /* Position the social links container above the copy right on mobile. Changing the source order with flex:order */
  .social-links-container {
    order: 1;
  }

  /* Copyright info below the social links with order 2. */
  .footer-bottom p {
    order: 2;
    margin: 1.25rem 0 0 0;
  }
  
}

/* End of Footer Styles. */

/* End of Navigation Styles (Header & Footer) */